/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* 
==================================================
TABLE OF CONTENT
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* ===============================================
#SITE STYLES
================================================== */

/* BASE 
================================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Trebuchet MS, Arial, sans-serif;
  background-color: #fff;
}

.love {
  color: #F56991
}

a,
a:visited {
  color: #956392;
  text-decoration: none
}

a:hover {
  color: #C27FAF;
  font-weight: bold
}


/* HEADER 
================================================== */

header h1 {
  text-align: center;
  color: #272C33;
  font-family: 'IM Fell English', serif;
  font-size: 3em;
  margin: 25px 0 0 0; 
}

  /* LOGO */

    header figure img {
      display: block;
      margin: auto;
    }

/* NAVIGATION 
================================================== */

nav {
  background-image: url("../img/dark_back.png");
  border-bottom: 5px solid #292929;
}

nav ul li {
  display: inline-block;
  border-left: 1px dotted #ccc;
  padding: 10px 60px 0 10px;
}

nav ul li span {
  display: block;
  text-decoration: none;
  color: #956392 !important;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

nav ul li a {
  text-decoration: none;
  color: #dbdbdb !important;
  font-size: 11px;
}

/* MAIN CONTENT 
================================================== */

article h3 {
  text-align: center;
}

/* MAIN CONTENT 
================================================== */

footer {
  background-image: url("../img/dark_back.png");
  border-top: 5px solid #292929;
  color: #ccc;
  font-size: 12px;
  padding: 0 0 10px 0;
}

footer h4 {
  color: #fff;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  border-bottom: 1px dotted #737373;
}

.copyright {
  background: #292929;
  color: #fff;
  padding: 15px 0;
  font-size: .9em;
  text-align: center
}
/* ===============================================
#PAGE STYLES
================================================== */

/* ===============================================
#MEDIA QUERIES
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

    .main img {
      display: none;
    }

    nav ul li {
      width: 100%;
    }
  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* ===============================================
#FONT-FACE
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/